<html>
  <head>
    <title>Lab Work 1</title>
  </head>
  <body>
    <h1>Lab Work 1</h1>
    <img src="{{ url_for('video_feed') }}">
    <form action="/bw">
      <input type="submit" value="BW" />
    </form>
    <form action="/normal">
      <input type="submit" value="NORMAL" />
    </form>
    <form action="/tresh">
      <input type="range" id="treshold" name="treshold" min="0" max="255" oninput="this.nextElementSibling.value = this.value"/>
      <output>0</output>
      <input type="submit" value="TRESHOLD" />
    </form>
  </body>
</html>